@model IEnumerable<PartyInvites.Models.GuestResponse>

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Index Page</title>
</head>
<body>
    <div class="panel-body">
        <h2>Here is the list of the people attended to the party</h2>
        <table class="table table-sm table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PartyInvites.Models.GuestResponse r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Email</td>
                        <td>@r.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="/" class="nav-link">Back</a>
    </div>
</body>
</html>