@model PartyInvites.Models.GuestResponse

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Index Page</title>
</head>
<body>
    <div class="panel panel-success" panel-success>
        <div class="panel panel-heading text-center"><h4>RSVP</h4></div>
        <div class="panel panel-body">
            <form asp-action="RsvpForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Your Name:</label>
                    <input asp-for="Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Your Email:</label>
                    <input asp-for="Email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Your Phone:</label>
                    <input asp-for="Phone" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Will you attend?</label>
                    <select asp-for="WillAttend" class="form-control">
                        <option value="">Choose an option</option>
                        <option value="true">Yes, I'll be there</option>
                        <option value="false">No, I can`t come</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Sumbit RSVP</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>